*~
*.o
repl
test-StringSrc
test-Heap
test-Reader
test-Tokenizer
Snippets/
a.out
test-String
test-Object
test-sizes
test-gc
test-functions
test-Dict
test-StringTable
test-StringFinder
test-symbol
test-console
test-ConsoleBuffer
